Source: pibang-backgrounds-contrib
Section: misc
Priority: extra
Maintainer: "Super" Nathan Weber <supernathansunshine@gmail.com>
Build-Depends-Indep: debhelper (>= 5.0.0)
Standards-Version: 3.9.0
Homepage: http://pibang.org/

Package: pibang-backgrounds-contrib
Architecture: all
Description: Backgrounds for PiBang Linux



